@charset "UTF-8";

/* Configurações gerais serve para tudo não precisa de colocar nos outros essas configurações*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;
    height:100vh;
    background-color: #233eff;
    background-size: contain; /* contain para caber a imagem toda*/
    border-color: no-repeat;
}

h1{
    color: white;
    text-align: 2px 2px 0px #1526a7;
    padding: 10px;
}