@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif ;
    margin: 0px;
    padding: 0px;
}

body, html{
    background-color: lightgrey;
}

header{
    background-color: gray;
}

header >h1{
    padding: 10px;
    text-align: center;
}

span#burguer{
    background-color: gray;
    color:white;
    display:block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover{ /* hover É um efeito ativado somente quando você passa o cursor sobre algo.*/

    background-color: white;
    color: black;
}

menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu > ul > li >a{ /* dentro do menu tem a ul(coluna) dentro da ul a li (linha) e dentro de li um a (link) */

display: block;
padding: 10px;
text-decoration: none;
text-align: center;
background-color: rgb(87, 87, 87);
color: white;
border-top: 2px solid rgb(99, 97, 97);
}


menu > ul >li > a:hover{
    background-color: gray;
}

main{
    width: 90vw;
    background-color: white;
    margin: auto; /* centraliza o texto branco*/
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article >h2{
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent:20px;
}